Consumer Sentiment Data:
https://www.quandl.com/data/UMICH/SOC22-University-of-Michigan-Consumer-Survey-Current-Market-Value-of-Primary-Residence

In [1]:
import pandas as pd
import quandl
quandl.ApiConfig.api_key = 'DLdC2HEPbPmb7ayQQBRU'

In [2]:
data_incomegain_5years = quandl.get("UMICH/SOC16", authtoken="DLdC2HEPbPmb7ayQQBRU")
data_incomegain_5years['response_var'] = 'prob_income_gain_next5years'
print(data_incomegain_5years.index)

DatetimeIndex(['1997-12-31', '1998-01-31', '1998-02-28', '1998-03-31',
               '1998-04-30', '1998-05-31', '1998-06-30', '1998-07-31',
               '1998-08-31', '1998-09-30',
               ...
               '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30',
               '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31',
               '2019-02-28', '2019-03-31'],
              dtype='datetime64[ns]', name='Date', length=256, freq=None)

In [16]:
vx = data_incomegain_5years.head(10)
vx
#vx.columns

,0%,1-24%,25-49%,50%,51-74%,75-99%,100%,Mean,DK; NA,response_var
Date,,,,,,,,,,
1997-12-31,21.0,23.0,10.0,18.0,5.0,12.0,7.0,36.9,4.0,prob_income_gain_next5years
1998-01-31,19.0,25.0,9.0,18.0,7.0,11.0,7.0,37.5,4.0,prob_income_gain_next5years
1998-02-28,13.0,24.0,7.0,26.0,4.0,15.0,6.0,41.7,5.0,prob_income_gain_next5years
1998-03-31,15.0,24.0,14.0,17.0,7.0,13.0,7.0,39.1,3.0,prob_income_gain_next5years
1998-04-30,15.0,22.0,13.0,18.0,7.0,15.0,6.0,40.3,4.0,prob_income_gain_next5years
1998-05-31,16.0,27.0,8.0,20.0,8.0,12.0,6.0,38.6,3.0,prob_income_gain_next5years
1998-06-30,15.0,24.0,13.0,19.0,7.0,12.0,6.0,38.3,4.0,prob_income_gain_next5years
1998-07-31,10.0,25.0,14.0,23.0,8.0,14.0,4.0,41.5,2.0,prob_income_gain_next5years
1998-08-31,11.0,21.0,13.0,19.0,7.0,19.0,6.0,44.9,4.0,prob_income_gain_next5years
1998-09-30,12.0,27.0,10.0,18.0,7.0,17.0,5.0,41.7,4.0,prob_income_gain_next5years

In [22]:
#vx.index = ['Date','response_var']
#vx.unstack()
#pd.pivot(data = vx,values = 'response_var',columns = ['0%', '1-24%', '25-49%', '50%', '51-74%', '75-99%', '100%', 'Mean',
      # 'DK; NA'],)

In [4]:
data_current_home_marketvalue = quandl.get("UMICH/SOC22", authtoken="DLdC2HEPbPmb7ayQQBRU")
data_current_home_marketvalue['response_var'] = 'current_home_marketvalue'
data_current_home_marketvalue.head(10)
data_current_home_marketvalue.columns[:6]

Index(['Under $100_000', '$100_000 - $199_999', '$200_000 - $299_999',
       '$300_000 - $399_999', '$400_000 - $499_999', '$500_000 +'],
      dtype='object')

In [29]:
#data_current_home_marketvalue.rename(index=str, columns={'$100_000 - $199_999': '$100_000-$199_999', "C": "c"})
data_current_home_marketvalue.head(10)

,Under $100_000,$100_000 - $199_999,$200_000 - $299_999,$300_000 - $399_999,$400_000 - $499_999,$500_000 +,DK; NA,25th Percentile,Median,75th Percentile,Interquartile Range (75th-25th),response_var
Date,,,,,,,,,,,,
1990-08-31,60.0,23.0,10.0,1.0,0.0,1.0,5.0,41521.0,75457.0,124447.0,82926.0,current_home_marketvalue
1993-11-30,54.0,27.0,7.0,3.0,1.0,3.0,5.0,44000.0,82333.0,149820.0,105820.0,current_home_marketvalue
1993-12-31,53.0,28.0,9.0,2.0,1.0,1.0,6.0,50514.0,83693.0,150990.0,100476.0,current_home_marketvalue
1994-01-31,57.0,21.0,9.0,4.0,0.0,1.0,8.0,49963.0,80484.0,132046.0,82083.0,current_home_marketvalue
1994-02-28,55.0,29.0,7.0,2.0,2.0,2.0,3.0,56000.0,86300.0,148333.0,92333.0,current_home_marketvalue
1994-03-31,55.0,25.0,8.0,3.0,2.0,2.0,5.0,52926.0,84600.0,141458.0,88532.0,current_home_marketvalue
1994-04-30,52.0,27.0,8.0,2.0,1.0,1.0,9.0,50681.0,83614.0,137250.0,86569.0,current_home_marketvalue
1994-05-31,46.0,31.0,10.0,3.0,1.0,1.0,8.0,54344.0,97313.0,152125.0,97781.0,current_home_marketvalue
1994-06-30,54.0,26.0,9.0,2.0,1.0,1.0,7.0,54539.0,84917.0,141280.0,86742.0,current_home_marketvalue
1997-05-31,51.0,31.0,9.0,2.0,0.0,1.0,6.0,58417.0,90340.0,140222.0,81806.0,current_home_marketvalue

In [24]:
data1 = data_incomegain_5years.head(10)
data2 = data_current_home_marketvalue.head(10)